@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y proximity;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: SecFont;
  src: url("../public/font/Marcellus/Marcellus-Regular.ttf");
}

@font-face {
  font-family: Berk;
  src: url("../public/font/Unbounded/Unbounded-VariableFont_wght.ttf");
}

@font-face {
  font-family: Poppins;
  src: url("../public/font/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: PlayFair;
  src: url("../public/font/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

@font-face {
  font-family: Noto;
  src: url("../public/font/Cormorant/Cormorant-VariableFont_wght.ttf");
}

@font-face {
  font-family: Oswald;
  src: url("../public/font/Oswald/Oswald-VariableFont_wght.ttf");
}

@font-face {
  font-family: PlayI;
  src: url("../public/font/PT_Serif/PTSerif-Italic.ttf");
}

@font-face {
  font-family: Notos;
  src: url("../public/font/Noto_Serif/NotoSerif-BoldItalic.ttf");
}

@font-face {
  font-family: IMFELL;
  src: url("../public/font/IM_Fell_English/IMFellEnglish-Regular.ttf");
}

@font-face {
  font-family: Grad;
  src: url("../public/font/Graduate/Graduate-Regular.ttf");
}

@font-face {
  font-family: Abril;
  src: url("../public/font/Abril_Fatface/AbrilFatface-Regular.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../public/font/Inter/Inter-VariableFont_slnt\,wght.ttf");
}

.snapCont {
  scroll-snap-type: y mandatory;
}

.snapChild {
  scroll-snap-align: start;
}

.altSnapCont {
  scroll-snap-type: y mandatory;
}

.backGroundLogin {
  background-image: url("../public/TestImages/LoginImg.jpg");
}

.linesB {
  min-height: 100%;
  background: linear-gradient(black 0 0) calc(1 * 100% / 4),
    linear-gradient(black 0 0) calc(2 * 100% / 4),
    linear-gradient(black 0 0) calc(3 * 100% / 4);

  background-size: 1px 100%; /* Control the width here*/
  background-repeat: no-repeat;
  background-color: white;
}

.linesW {
  min-height: 100%;
  background-color: black;
  background: linear-gradient(white 0 0) calc(1 * 100% / 6),
    linear-gradient(white 0 0) calc(2 * 100% / 6),
    linear-gradient(white 0 0) calc(3 * 100% / 6),
    linear-gradient(white 0 0) calc(4 * 100% / 6),
    linear-gradient(white 0 0) calc(5 * 100% / 6);
  background-size: 1px 100%; /* Control the width here*/
  background-repeat: no-repeat;
}

.marquee {
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
  position: absolute;
  width: 98vw;
  padding: 2;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 6s linear infinite;
}

.marquee2 span {
  animation-delay: 3s;
}

.marquee3 span {
  animation-delay: 5s;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

.crossBackGround {
  background: radial-gradient(
        circle,
        transparent 20%,
        #fdfdfd 20%,
        #fdfdfd 80%,
        transparent 80%,
        transparent
      )
      0% 0% / 18px 18px,
    radial-gradient(
        circle,
        transparent 20%,
        #fdfdfd 20%,
        #fdfdfd 80%,
        transparent 80%,
        transparent
      )
      24px 24px / 18px 18px,
    linear-gradient(#ff5c47 2px, transparent 2px) 0px -1px / 24px 24px,
    linear-gradient(90deg, #ff5c47 2px, #fdfdfd 2px) -1px 0px / 24px 24px #fdfdfd;
  background-color: #fdfdfd;
}

.glitch-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.glitch {
  position: relative;

  font-weight: 700;
  line-height: 1.2;

  letter-spacing: 5px;
}

.glitch:before {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: -2px;
  width: 100%;

  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch:after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 2px;
  width: 100%;

  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-after 2s infinite linear alternate-reverse;
}

@keyframes noise-before {
  0% {
    clip: rect(61px, 9999px, 52px, 0);
  }

  5% {
    clip: rect(33px, 9999px, 144px, 0);
  }

  10% {
    clip: rect(121px, 9999px, 115px, 0);
  }

  15% {
    clip: rect(144px, 9999px, 162px, 0);
  }

  20% {
    clip: rect(62px, 9999px, 180px, 0);
  }

  25% {
    clip: rect(34px, 9999px, 42px, 0);
  }

  30% {
    clip: rect(147px, 9999px, 179px, 0);
  }

  35% {
    clip: rect(99px, 9999px, 63px, 0);
  }

  40% {
    clip: rect(188px, 9999px, 122px, 0);
  }

  45% {
    clip: rect(154px, 9999px, 14px, 0);
  }

  50% {
    clip: rect(63px, 9999px, 37px, 0);
  }

  55% {
    clip: rect(161px, 9999px, 147px, 0);
  }

  60% {
    clip: rect(109px, 9999px, 175px, 0);
  }

  65% {
    clip: rect(157px, 9999px, 88px, 0);
  }

  70% {
    clip: rect(173px, 9999px, 131px, 0);
  }

  75% {
    clip: rect(62px, 9999px, 70px, 0);
  }

  80% {
    clip: rect(24px, 9999px, 153px, 0);
  }

  85% {
    clip: rect(138px, 9999px, 40px, 0);
  }

  90% {
    clip: rect(79px, 9999px, 136px, 0);
  }

  95% {
    clip: rect(25px, 9999px, 34px, 0);
  }

  100% {
    clip: rect(173px, 9999px, 166px, 0);
  }
}

@keyframes noise-after {
  0% {
    clip: rect(26px, 9999px, 33px, 0);
  }

  5% {
    clip: rect(140px, 9999px, 198px, 0);
  }

  10% {
    clip: rect(184px, 9999px, 89px, 0);
  }

  15% {
    clip: rect(121px, 9999px, 6px, 0);
  }

  20% {
    clip: rect(181px, 9999px, 99px, 0);
  }

  25% {
    clip: rect(154px, 9999px, 133px, 0);
  }

  30% {
    clip: rect(134px, 9999px, 169px, 0);
  }

  35% {
    clip: rect(26px, 9999px, 187px, 0);
  }

  40% {
    clip: rect(147px, 9999px, 137px, 0);
  }

  45% {
    clip: rect(31px, 9999px, 52px, 0);
  }

  50% {
    clip: rect(191px, 9999px, 109px, 0);
  }

  55% {
    clip: rect(74px, 9999px, 54px, 0);
  }

  60% {
    clip: rect(145px, 9999px, 75px, 0);
  }

  65% {
    clip: rect(153px, 9999px, 198px, 0);
  }

  70% {
    clip: rect(99px, 9999px, 136px, 0);
  }

  75% {
    clip: rect(118px, 9999px, 192px, 0);
  }

  80% {
    clip: rect(1px, 9999px, 83px, 0);
  }

  85% {
    clip: rect(145px, 9999px, 98px, 0);
  }

  90% {
    clip: rect(121px, 9999px, 154px, 0);
  }

  95% {
    clip: rect(156px, 9999px, 44px, 0);
  }

  100% {
    clip: rect(67px, 9999px, 122px, 0);
  }
}

#nprogress .bar {
  background: #ff0101 !important;
  height: 3px !important;
}

.behindImage {
  mix-blend-mode: difference;
}
